body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

.nav-main {
  list-style-type: none;
  margin-top: 45px;
  margin-right: 105px;
  margin-left: 105px;
  padding-left: 95px;
  padding-right: 15px;
  font-family: sans-serif;
  overflow: hidden;
  background-color: white;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

li a {
  padding: 14px 10px;
  float: left;
  display: inline-block;
  text-decoration: none;
  color: #8c8c8c;
  vertical-align: top;
}

li:last-child a:hover {
  color: #444546;
  background-color: transparent;
}

li a:hover {
  color: white;
  background-color: #8c8c8c;
}

.active {
    background-color: #4CAF50;
}

.powt {

  padding-right: 25px;
  font-size: 15px;
  float: right;
  font-family: 'Passion One', cursive;
  font-weight: 300;
  color: #444546;
}

#banner-img {
  padding-top: 50px;
  max-width: 100%;
  max-height: 100%;
}
